
# Visual Studio
.vs/
*.sln
*.vcxproj*

# CLion
.idea/

# Cmake / make
CMakeCache.txt
CMakeFiles/
compile_commands.json
Makefile

# Build Folders / Files
*x64/
*Debug/
*Release/
*-build-*/
target/
gcd
test_gcd
target
!crates/gcd

# ISO Files and Output
*root/
*dump/
*.rel
*.ppc
*.ppd

# Library directory
libs/
